#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: DungGeunMo;
  src: url('./components/fonts/DungGeunMo.eot') format('eot'),
    url('./components/fonts/DungGeunMo.woff') format('woff'),
    url('./components/fonts/DungGeunMo.woff2') format('woff2');
}

* {
  font-family: DungGeunMo;
}
